*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    box-sizing: inherit;
    min-height: 100vh;
}

body {
    display: flex;
    flex-flow: row nowrap;
}

.sidebar {
    flex: 0 0 200px;
    background-color: #EFEFEF;
    border-right: 1px solid #BBB;
    padding: 30px;
}

.sidebar h2 {
    margin-bottom: 30px;
}

input {
    margin: 0 0 15px;
    border: 1px solid #DDD;
    padding: 5px 10px;
}

button {
    display: block;
    width: 100%;
    border: 1px solid #DDD;
    padding: 8px 12px;
    background-color: #007ec3;
    color: #FFF;
}

.divider {
    color: #DDD;
    border: 1px solid #BBB;
    margin: 20px 0;
}

#game {
    display: flex;
    flex-flow: row wrap;
    /*border: 2px solid #BBB;*/
    height: 80vh;
    width: 80vh;
    margin: auto;
}

.cell {
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    padding: 20px 0;
    color: #DDD;
    text-align: center;
    font-size: 12px;
    line-height: 0;
}

.wall-0 {
    border-top: 2px solid #BBB;
}
.wall-1 {
    border-right: 2px solid #BBB;
}
.wall-2 {
    border-bottom: 2px solid #BBB;
}
.wall-3 {
    border-left: 2px solid #BBB;
}

.start {
    background-color: #efefef;
}

.exit {
    background-color: #efefef;
}
